In [1]:
#%load_ext google.colab.data_table

In [2]:
# Question perso :

# Comment les conditions météorologiques prévues à Paris en 2024 peuvent-elles influencer les performances dans certaines disciplines ?
# Quels sont les progrès ou régressions des performances des athlètes clés dans les compétitions récentes (championnats mondiaux, compétitions nationales) ?
# Quels athlètes ont été récemment blessés et comment cela pourrait-il affecter leur performance ?
# Y a-t-il de nouveaux athlètes prometteurs qui pourraient surprendre et surpasser les favoris ?
# Les athlètes français bénéficieront-ils d’un avantage significatif en jouant à domicile ?
# Comment l’expérience passée des athlètes aux Jeux Olympiques influence-t-elle leurs performances futures ?
# Ukraine-Russie. La situation géopolitique peut elle affecter la préparation des athlètes, leur moral, et même leur participation ?
# Le sentiment et l’état émotionnel des athlètes peuvent influencer leurs performances ?
# Y a-t-il une corrélation entre le nombre de médailles remportées et des facteurs économiques tel que le montant du Produit Intérieur Brut (PIB) ?

In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in g:\python\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in g:\python\lib\site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip available: 22.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)

In [4]:
!pip install sshtunnel

Requirement already satisfied: sshtunnel in g:\python\lib\site-packages (0.4.0)
Requirement already satisfied: paramiko>=2.7.2 in g:\python\lib\site-packages (from sshtunnel) (3.4.0)
Requirement already satisfied: pynacl>=1.5 in g:\python\lib\site-packages (from paramiko>=2.7.2->sshtunnel) (1.5.0)
Requirement already satisfied: cryptography>=3.3 in g:\python\lib\site-packages (from paramiko>=2.7.2->sshtunnel) (41.0.7)
Requirement already satisfied: bcrypt>=3.2 in g:\python\lib\site-packages (from paramiko>=2.7.2->sshtunnel) (4.1.3)
Requirement already satisfied: cffi>=1.12 in g:\python\lib\site-packages (from cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (1.16.0)
Requirement already satisfied: pycparser in g:\python\lib\site-packages (from cffi>=1.12->cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (2.21)

[notice] A new release of pip available: 22.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (g:\python\lib\site-packages)

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import udf
from pyspark.sql.window import Window
from pyspark.conf import SparkConf
import pandas as pd
import plotly.express as px
from pyspark.sql.functions import col, sum as spark_sum, isnan, when, concat, lit, regexp_replace, regexp_extract
from sshtunnel import SSHTunnelForwarder
import os

In [6]:
!wget https://dev.mysql.com/get/Downloads/Connector-J/mysql-connector-java-8.0.26.tar.gz
!tar xzf mysql-connector-java-8.0.26.tar.gz
!mv mysql-connector-java-8.0.26/mysql-connector-java-8.0.26.jar .

'wget' n'est pas reconnu en tant que commande interne
ou externe, un programme ex‚cutable ou un fichier de commandes.
tar: Error opening archive: Failed to open 'mysql-connector-java-8.0.26.tar.gz'
'mv' n'est pas reconnu en tant que commande interne
ou externe, un programme ex‚cutable ou un fichier de commandes.

In [7]:
# spark = SparkSession.builder\
#         .master("local")\
#         .appName("Colab")\
#         .config('spark.ui.port', '4050')\
#         .getOrCreate()
# spark

In [11]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table
import sshtunnel
from dotenv import load_dotenv
import os

from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker

load_dotenv()

sshtunnel.SSH_TIMEOUT = 10
sshtunnel.TUNNEL_TIMEOUT = 10

try:
    with sshtunnel.SSHTunnelForwarder(
        (os.getenv('SSH_HOST')),
        ssh_username=os.getenv('SSH_USERNAME'), ssh_password=os.getenv('SSH_PASSWORD'),
        remote_bind_address=(os.getenv('DB_HOST'), 3306)
    ) as tunnel:
        connection = create_engine(
            f"mysql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@127.0.0.1:{tunnel.local_bind_port}/{os.getenv('DB_NAME')}"
        )

        metadata = MetaData()
        metadata.reflect(bind=connection, only=['olympic_hosts'])
        
        olympic_hosts = Table('olympic_hosts', metadata, autoload_with=connection)
        
        for col in olympic_hosts._columns:
            print(str(col).split(".")[1])
            
        Session = sessionmaker(bind=connection)
        session = Session()

        print(session.query(olympic_hosts).all())

        session.close()

except Exception as e:
    print("Erreur:", e)
finally:
    if connection:
        connection.dispose()

{'dispatch': <sqlalchemy.event.base.DDLEventsDispatch object at 0x000001CE31B95A40>, 'name': 'olympic_hosts', '_columns': <sqlalchemy.sql.base.DedupeColumnCollection object at 0x000001CE31BC9DA0>, 'primary_key': PrimaryKeyConstraint(), 'foreign_keys': set(), 'fullname': 'olympic_hosts', 'metadata': MetaData(), 'schema': None, '_sentinel_column': None, 'indexes': {Index('ix_olympic_hosts_index', Column('index', BIGINT(), table=<olympic_hosts>))}, 'constraints': {PrimaryKeyConstraint()}, 'c': <sqlalchemy.sql.base.ReadOnlyColumnCollection object at 0x000001CE31BCAD40>, '_extra_dependencies': set(), 'implicit_returning': True, 'comment': None, '_prefixes': [], 'dialect_options': {'mysql': <sqlalchemy.sql.base._DialectArgDict object at 0x000001CE31BBA890>}, 'description': 'olympic_hosts'}
index
game_slug
game_end_date
game_start_date
game_location
game_name
game_season
game_year
[(0, 'beijing-2022', '2022-02-20T12:00:00Z', '2022-02-04T15:00:00Z', 'China', 'Beijing 2022', 'Winter', 2022), (1, 'tokyo-2020', '2021-08-08T14:00:00Z', '2021-07-23T11:00:00Z', 'Japan', 'Tokyo 2020', 'Summer', 2020), (2, 'pyeongchang-2018', '2018-02-25T08:00:00Z', '2018-02-08T23:00:00Z', 'Republic of Korea', 'PyeongChang 2018', 'Winter', 2018), (3, 'rio-2016', '2016-08-21T21:00:00Z', '2016-08-05T12:00:00Z', 'Brazil', 'Rio 2016', 'Summer', 2016), (4, 'sochi-2014', '2014-02-23T16:00:00Z', '2014-02-07T04:00:00Z', 'Russian Federation', 'Sochi 2014', 'Winter', 2014), (5, 'london-2012', '2012-08-12T19:00:00Z', '2012-07-27T07:00:00Z', 'Great Britain', 'London 2012', 'Summer', 2012), (6, 'vancouver-2010', '2010-02-28T04:00:00Z', '2010-02-12T16:00:00Z', 'Canada', 'Vancouver 2010', 'Winter', 2010), (7, 'beijing-2008', '2008-08-24T12:00:00Z', '2008-08-08T00:00:00Z', 'China', 'Beijing 2008', 'Summer', 2008), (8, 'turin-2006', '2006-02-26T19:00:00Z', '2006-02-10T07:00:00Z', 'Italy', 'Turin 2006', 'Winter', 2006), (9, 'athens-2004', '2004-08-29T18:00:00Z', '2004-08-13T06:00:00Z', 'Greece', 'Athens 2004', 'Summer', 2004), (10, 'salt-lake-city-2002', '2002-02-24T08:00:00Z', '2002-02-08T15:00:00Z', 'United States', 'Salt Lake City 2002', 'Winter', 2002), (11, 'sydney-2000', '2000-10-01T09:00:00Z', '2000-09-15T01:00:00Z', 'Australia', 'Sydney 2000', 'Summer', 2000), (12, 'nagano-1998', '1998-02-22T11:00:00Z', '1998-02-06T23:00:00Z', 'Japan', 'Nagano 1998', 'Winter', 1998), (13, 'atlanta-1996', '1996-08-05T21:00:00Z', '1996-07-19T12:00:00Z', 'United States', 'Atlanta 1996', 'Summer', 1996), (14, 'lillehammer-1994', '1994-02-27T19:00:00Z', '1994-02-12T07:00:00Z', 'Norway', 'Lillehammer 1994', 'Winter', 1994), (15, 'barcelona-1992', '1992-08-09T18:00:00Z', '1992-07-25T06:00:00Z', 'Spain', 'Barcelona 1992', 'Summer', 1992), (16, 'albertville-1992', '1992-02-23T19:00:00Z', '1992-02-08T07:00:00Z', 'France', 'Albertville 1992', 'Winter', 1992), (17, 'seoul-1988', '1988-10-02T10:00:00Z', '1988-09-16T22:00:00Z', 'Republic of Korea', 'Seoul 1988', 'Summer', 1988), (18, 'calgary-1988', '1988-02-28T03:00:00Z', '1988-02-13T15:00:00Z', 'Canada', 'Calgary 1988', 'Winter', 1988), (19, 'los-angeles-1984', '1984-08-12T19:00:00Z', '1984-07-28T15:00:00Z', 'United States', 'Los Angeles 1984', 'Summer', 1984), (20, 'sarajevo-1984', '1984-02-19T19:00:00Z', '1984-02-08T07:00:00Z', 'Yugoslavia', 'Sarajevo 1984', 'Winter', 1984), (21, 'moscow-1980', '1980-08-03T18:00:00Z', '1980-07-19T05:00:00Z', 'USSR', 'Moscow 1980', 'Summer', 1980), (22, 'lake-placid-1980', '1980-02-24T01:00:00Z', '1980-02-13T13:00:00Z', 'United States', 'Lake Placid 1980', 'Winter', 1980), (23, 'montreal-1976', '1976-07-31T22:00:00Z', '1976-07-17T12:00:00Z', 'Canada', 'Montreal 1976', 'Summer', 1976), (24, 'innsbruck-1976', '1976-02-15T19:00:00Z', '1976-02-04T07:00:00Z', 'Austria', 'Innsbruck 1976', 'Winter', 1976), (25, 'munich-1972', '1972-09-11T19:00:00Z', '1972-08-26T07:00:00Z', 'Federal Republic of Germany', 'Munich 1972', 'Summer', 1972), (26, 'sapporo-1972', '1972-02-13T11:00:00Z', '1972-02-02T23:00:00Z', 'Japan', 'Sapporo 1972', 'Winter', 1972), (27, 'mexico-city-1968', '1968-10-28T04:00:00Z', '1968-10-12T16:00:00Z', 'Mexico', 'Mexico City 1968', 'Summer', 1968), (28, 'grenoble-1968', '1968-02-18T19:00:00Z', '1968-02-06T07:00:00Z', 'France', 'Grenoble 1968', 'Winter', 1968), (29, 'tokyo-1964', '1964-10-24T11:00:00Z', '1964-10-09T23:00:00Z', 'Japan', 'Tokyo 1964', 'Summer', 1964), (30, 'innsbruck-1964', '1964-02-09T19:00:00Z', '1964-01-29T07:00:00Z', 'Austria', 'Innsbruck 1964', 'Winter', 1964), (31, 'rome-1960', '1960-09-11T19:00:00Z', '1960-08-25T07:00:00Z', 'Italy', 'Rome 1960', 'Summer', 1960), (32, 'squaw-valley-1960', '1960-02-28T04:00:00Z', '1960-02-18T16:00:00Z', 'United States', 'Squaw Valley 1960', 'Winter', 1960), (33, 'melbourne-1956', '1956-12-08T10:00:00Z', '1956-11-21T22:00:00Z', 'Australia, Sweden', 'Melbourne 1956', 'Summer', 1956), (34, 'cortina-d-ampezzo-1956', '1956-02-05T19:00:00Z', '1956-01-26T07:00:00Z', 'Italy', "Cortina d'Ampezzo 1956", 'Winter', 1956), (35, 'helsinki-1952', '1952-08-03T07:00:00Z', '1952-07-19T07:00:00Z', 'Finland', 'Helsinki 1952', 'Summer', 1952), (36, 'oslo-1952', '1952-02-25T19:00:00Z', '1952-02-14T07:00:00Z', 'Norway', 'Oslo 1952', 'Winter', 1952), (37, 'london-1948', '1948-08-14T19:00:00Z', '1948-07-29T07:00:00Z', 'Great Britain', 'London 1948', 'Summer', 1948), (38, 'st-moritz-1948', '1948-02-08T19:00:00Z', '1948-01-30T07:00:00Z', 'Switzerland', 'St. Moritz 1948', 'Winter', 1948), (39, 'berlin-1936', '1936-08-16T19:00:00Z', '1936-08-01T07:00:00Z', 'Germany', 'Berlin 1936', 'Summer', 1936), (40, 'garmisch-partenkirchen-1936', '1936-02-16T20:00:00Z', '1936-02-06T08:00:00Z', 'Germany', 'Garmisch-Partenkirchen 1936', 'Winter', 1936), (41, 'los-angeles-1932', '1932-08-14T19:00:00Z', '1932-07-30T16:00:00Z', 'United States', 'Los Angeles 1932', 'Summer', 1932), (42, 'lake-placid-1932', '1932-02-15T18:00:00Z', '1932-02-04T13:00:00Z', 'United States', 'Lake Placid 1932', 'Winter', 1932), (43, 'amsterdam-1928', '1928-08-12T19:00:00Z', '1928-05-17T07:00:00Z', 'Netherlands', 'Amsterdam 1928', 'Summer', 1928), (44, 'st-moritz-1928', '1928-02-19T08:00:00Z', '1928-02-11T08:00:00Z', 'Switzerland', 'St. Moritz 1928', 'Winter', 1928), (45, 'paris-1924', '1924-07-27T19:00:00Z', '1924-05-04T07:00:00Z', 'France', 'Paris 1924', 'Summer', 1924), (46, 'chamonix-1924', '1924-02-05T20:00:00Z', '1924-01-25T08:00:00Z', 'France', 'Chamonix 1924', 'Winter', 1924), (47, 'antwerp-1920', '1920-09-12T19:00:00Z', '1920-04-20T07:00:00Z', 'Belgium', 'Antwerp 1920', 'Summer', 1920), (48, 'stockholm-1912', '1912-07-27T20:00:00Z', '1912-05-05T08:00:00Z', 'Sweden', 'Stockholm 1912', 'Summer', 1912), (49, 'london-1908', '1908-10-31T20:09:00Z', '1908-04-27T08:00:00Z', 'Great Britain', 'London 1908', 'Summer', 1908), (50, 'st-louis-1904', '1904-11-24T02:00:00Z', '1904-07-01T14:00:00Z', 'United States', 'St. Louis 1904', 'Summer', 1904), (51, 'paris-1900', '1900-10-28T19:50:39Z', '1900-05-14T08:50:39Z', 'France', 'Paris 1900', 'Summer', 1900), (52, 'athens-1896', '1896-04-15T11:39:39Z', '1896-04-06T11:38:39Z', 'Greece', 'Athens 1896', 'Summer', 1896)]

In [9]:
from sshtunnel import SSHTunnelForwarder
import os

JDBC_DRIVER_PATH = "./mysql-connector-java-8.0.26.jar"

spark = SparkSession.builder \
    .master("local") \
    .appName("Colab") \
    .config('spark.ui.port', '4050') \
    .config("spark.jars", JDBC_DRIVER_PATH) \
    .getOrCreate()

server = SSHTunnelForwarder(
    (SSH_HOST, 22),
    ssh_username=SSH_USERNAME,
    ssh_password=SSH_PASSWORD,
    remote_bind_address=(DB_HOST, DB_PORT),
    # local_bind_address=('127.0.0.1', LOCAL_PORT)
)

server.start()

jdbc_url = f"jdbc:mysql://127.0.0.1:{server.local_bind_port}/{DB_NAME}"

connection_properties = {
    "user": DB_USER,
    "password": DB_PASSWORD,
    "driver": "com.mysql.cj.jdbc.Driver"
}

NameError: name 'SSH_HOST' is not defined

In [ ]:
df = spark.read.jdbc(url=jdbc_url, table="olympic_medals", properties=connection_properties)

df.printSchema()
df.show(5)

In [ ]:
server.stop()

In [ ]:
excel_file_path = "olympic_medals.xlsx"
df = pd.read_excel(excel_file_path)
csv_file_path = "./yourfile.csv"
df.to_csv(csv_file_path, index=False)

In [ ]:
df_medals = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("./olympic_medals.csv")
df_medals.show()

In [ ]:
excel_file_path = "olympic_athletes.json"
df = pd.read_json(excel_file_path)
csv_file_path = "./olympic_athletes.csv"
df.to_csv(csv_file_path, index=False)

In [ ]:
df_athletes = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("./olympic_athletes.csv")
df_athletes.show()

In [ ]:
excel_file_path = "olympic_results.html"
df = pd.read_html(excel_file_path)
csv_file_path = "./olympic_results.csv"
df.to_csv(csv_file_path, index=False)

In [ ]:
html_file_path = "olympic_results.html"
dfs = pd.read_html(html_file_path)
print(f"Nombre de tables trouvées : {len(dfs)}")
df = dfs[0]
csv_file_path = "./olympic_results.csv"
df.to_csv(csv_file_path, index=False)

In [ ]:
df_results = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("./olympic_results.csv")
df_results.show()

In [ ]:
excel_file_path = "olympic_hosts.xml"
df = pd.read_xml(excel_file_path)
csv_file_path = "./olympic_hosts.csv"
df.to_csv(csv_file_path, index=False)

In [ ]:
df_data_olympic_hosts = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("./olympic_hosts.csv")
df_data.show()

In [ ]:
# 1. La France a organisé 6 JO : 3 d’hiver et 3 d’été (en comptant celui de 2024) ?

In [ ]:
df_france = df_data_olympic_hosts.filter(df_data_olympic_hosts.game_location == "France")
df_france.show()
df_france_pd = df_france.toPandas()
counts_by_season = df_france_pd['game_season'].value_counts().reset_index()
counts_by_season.columns = ['Season', 'Count']

fig = px.bar(counts_by_season, x='Season', y='Count', title='Nombre de Jeux Olympiques organisés en France par saison')
fig.show()

In [ ]:
# 2. La France est le 2è pays qui a organisé le plus de JO après les USA (8 JO) ?

In [ ]:
df_host_counts = df_data_olympic_hosts.groupBy("game_location").count().orderBy("count", ascending=False)
df_host_counts.show()
df_host_counts_pd = df_host_counts.toPandas()
fig = px.bar(df_host_counts_pd, x='game_location', y='count', title='Nombre de Jeux Olympiques organisés par pays')
fig.show()

In [ ]:
# 3. Les JO d’hiver sont nés à Chamonix en 1924 ?

In [ ]:
df_chamonix_1924 = df_data_olympic_hosts.filter(
    (df_data_olympic_hosts.game_location == "France") &
    (df_data_olympic_hosts.game_name == "Chamonix 1924") &
    (df_data_olympic_hosts.game_season == "Winter")
)

df_chamonix_1924.show()

In [ ]:
# 4. JO de Paris, en 1900 : les femmes peuvent participer aux JO ?

In [ ]:
# 5. Seuls 4 athlètes ont remporté des médailles à la fois aux JO d’hiver et d’été. Une seule d’entre eux, Christa Ludinger-Rothenburger, a remporté des médailles au cours de la même année ?

In [ ]:
# 6. De 1924 à 1992, les JO d’hiver et d’été avaient lieu au cours de la même année. Désormais, ils sont organisés selon des cycles distincts avec une alternance de 2 ans ?

In [ ]:
# 7. Tarzan lui-même a participé aux JO. En effet, Johnny Weissmuller, ancien athlète devenu acteur et ayant interprété 12 films de Tarzan, a remporté 5 médailles d’or en natation dans les années 1920 ?

In [ ]:
# 8. Les JO de Londres de 2012 ont été les 1ers JO durant lesquels tous les pays participants ont envoyé des athlètes de sexe féminin ?

In [ ]:
# 9. Les sports suivants ne font (malheureusement) plus partie des J.O : la natation synchronisée en solo, le tir à la corde, la corde à grimper, la montgolfière, le duel au pistolet, le vélo tandem, la course d’obstacles à la nage et le plongeon à distance. Par chance, le tir au pigeon n’a été mis en place qu’une seule fois pendant les Jeux Olympiques de Paris de 1900 ?

In [ ]:
# 10. Les Jeux de 2016, à Rio, marqueront la 1è manifestation des JO en Amérique du Sud ?

In [ ]:
# 11. Pendant les 17 jours des JO d’été de 2016, 10 500 athlètes, originaires de 205 pays, représenteront 42 sports différents et participeront à 306 épreuves, à Rio ?

In [ ]:
# 1. Combien de médailles la France a remporté : en tout, en Or, en argent et en Bronze (depuis le début des JO) ?

In [ ]:
df_france_medals = df_results.filter((col("country_3_letter_code") == "FRA") & (col("medal_type").isNotNull()))
medals_count = df_france_medals.groupBy("medal_type").agg(count("*").alias("Count"))
medals_count.show()
medals_count_pd = medals_count.toPandas()

fig = px.bar(medals_count_pd, x='medal_type', y='Count', title='Nombre de médailles remportées par la France')
fig.show()

In [ ]:
# 2. Lors de quelle JO la France a eu le plus (le moins) de succès ?

In [ ]:
df_france_medals = df_results.filter((col("country_3_letter_code") == "FRA") & (col("medal_type").isNotNull()))
medals_count_per_edition = df_france_medals.groupBy("slug_game").agg(count("*").alias("Total_Medals"))
medals_count_per_edition.show()
most_successful = medals_count_per_edition.orderBy(col("Total_Medals").desc()).first()
least_successful = medals_count_per_edition.orderBy(col("Total_Medals").asc()).first()

print(f"L'edition avec le plus de succès pour la france : {most_successful['slug_game']} avec {most_successful['Total_Medals']} médailles")
print(f"L'édition avec le moins de succès pour la france : {least_successful['slug_game']} avec {least_successful['Total_Medals']} médailles")

medals_count_per_edition_pd = medals_count_per_edition.toPandas()


fig = px.bar(medals_count_per_edition_pd, x='slug_game', y='Total_Medals', title='Nombre de médailles remportées par la France par édition des JO')
fig.show()

In [ ]:
# 3. Peut-on considérer que la France est la grande spécialiste de certaine(s) discipline(s) sportive(s), comparativement aux autres notions ? Laquelle / Lesquelles ?

In [ ]:
df_france_medals = df_results.filter((col("country_3_letter_code") == "FRA") & (col("medal_type").isNotNull()))
df_france_discipline_medals = df_france_medals.groupBy("discipline_title").agg(count("*").alias("Total_Medals_France"))
df_all_discipline_medals = df_results.filter(col("medal_type").isNotNull()).groupBy("discipline_title").agg(count("*").alias("Total_Medals_All"))
df_discipline_comparison = df_france_discipline_medals.join(df_all_discipline_medals, on="discipline_title", how="inner")
df_discipline_comparison = df_discipline_comparison.withColumn("Percentage_France", col("Total_Medals_France") / col("Total_Medals_All") * 100)
df_discipline_comparison.orderBy(col("Percentage_France").desc()).show()
df_discipline_comparison_pd = df_discipline_comparison.toPandas()


fig = px.bar(df_discipline_comparison_pd, x='discipline_title', y='Percentage_France', title='Pourcentage de médailles remportées par la France par discipline')
fig.show()

In [ ]:
# 4. Quelles sont les sports les plus dominants dans les JO au fil des ans ?

In [ ]:
df_medals_cleaned = df_results.filter(col("medal_type").isNotNull())
df_medals_cleaned = df_medals_cleaned.withColumn("year", col("slug_game").substr(-4, 4).cast("int"))
df_medals_per_discipline_year = df_medals_cleaned.groupBy("discipline_title", "year").agg(count("*").alias("Total_Medals"))
df_medals_per_discipline_year.show()
df_medals_per_discipline_year_pd = df_medals_per_discipline_year.toPandas()


fig = px.bar(df_medals_per_discipline_year_pd, x='year', y='Total_Medals', color='discipline_title',
             title='Nombre de médailles attribuées par discipline au fil des ans',
             labels={'Total_Medals': 'Nombre de Médailles', 'year': 'Année', 'discipline_title': 'Discipline'},
             barmode='stack')

fig.show()

In [ ]:
# Traitement

In [ ]:
df_athletes = spark.read.csv('olympic_athletes.csv', header=True, inferSchema=True)
df_hosts = spark.read.csv('olympic_hosts.csv', header=True, inferSchema=True)
df_medals = spark.read.csv('olympic_medals.csv', header=True, inferSchema=True)
df_results = spark.read.csv('olympic_results.csv', header=True, inferSchema=True)

In [ ]:
# df_medals

In [ ]:
df_medals.printSchema()

In [ ]:
df_medals = df_medals.drop("participant_title", "country_code", "athlete_url")
df_medals.printSchema()

In [ ]:
df_medals.show()

In [ ]:
missing_counts = df_medals.select([spark_sum(when(col(c).isNull() | isnan(col(c)), 1).otherwise(0)).alias(c) for c in df_medals.columns])
missing_counts.show()

In [ ]:
df_null_athlete_full_name = df_medals.filter(col("athlete_full_name").isNull())
unique_participant_types = df_null_athlete_full_name.select("participant_type").distinct()
unique_participant_types.show()

In [ ]:
df_medals = df_medals.withColumn(
    "athlete_full_name",
    when(col("athlete_full_name").isNull(), concat(lit("Team "), col("country_name"))).otherwise(col("athlete_full_name"))
)
df_medals.printSchema()
df_medals.show()

In [ ]:
missing_counts = df_medals.select([spark_sum(when(col(c).isNull() | isnan(col(c)), 1).otherwise(0)).alias(c) for c in df_medals.columns])
missing_counts.show()

In [ ]:
# df_athletes
df_athletes = spark.read.csv('olympic_athletes.csv', header=True, inferSchema=True)
df_athletes.show()

In [ ]:
df_athletes.select("athlete_medals").distinct().show()

In [ ]:
df_athletes_non_null = df_athletes.filter(col("athlete_medals") != "").show()

In [ ]:
df_athletes = df_athletes.withColumn("athlete_medals", regexp_replace(col("athlete_medals"), "\n", ""))

In [ ]:
df_athletes = df_athletes.withColumn("gold_medals", regexp_extract(col("athlete_medals"), r'(\d+)\s*G', 1).cast('int'))
df_athletes = df_athletes.withColumn("silver_medals", regexp_extract(col("athlete_medals"), r'(\d+)\s*S', 1).cast('int'))
df_athletes = df_athletes.withColumn("bronze_medals", regexp_extract(col("athlete_medals"), r'(\d+)\s*B', 1).cast('int'))

df_athletes = df_athletes.fillna({'gold_medals': 0, 'silver_medals': 0, 'bronze_medals': 0})

df_athletes.printSchema()
df_athletes.show(5, truncate=False)

In [ ]:
df_athletes_gold_23 = df_athletes.filter(col("gold_medals") > 1)

df_athletes_gold_23.show(truncate=False)

In [ ]:
# olympic_results

In [ ]:
df_results = spark.read.csv('olympic_results.csv', header=True, inferSchema=True)

In [ ]:
df_results_null_rank = df_results.filter(col("rank_position").isNull())
df_results_null_rank.show()

In [ ]:
df_results = df_results.dropna(subset=["rank_position"])
df_results.filter(col("rank_position").isNull()).show()

In [ ]:
df_results = df_results.drop("country_code", "athlete_url", "index", "value_unit", "value_type")
df_results.printSchema()

In [ ]:
pd.unique(df_results["rank_position"])

In [ ]:
unique_rank_positions = df_results.select("rank_position").distinct()
unique_rank_positions.show()