In [57]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table
import sshtunnel
from dotenv import load_dotenv
import os

from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker

import numpy as np
import tensorflow as tf
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
import plotly.graph_objs as go
import plotly.io as pio

In [58]:
load_dotenv()

sshtunnel.SSH_TIMEOUT = 10
sshtunnel.TUNNEL_TIMEOUT = 10

try:
    with sshtunnel.SSHTunnelForwarder(
        (os.getenv('SSH_HOST')),
        ssh_username=os.getenv('SSH_USERNAME'), ssh_password=os.getenv('SSH_PASSWORD'),
        remote_bind_address=(os.getenv('DB_HOST'), 3306)
    ) as tunnel:
        connection = create_engine(
            f"mysql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@127.0.0.1:{tunnel.local_bind_port}/{os.getenv('DB_NAME')}"
        )

        metadata = MetaData()
        metadata.reflect(bind=connection, only=['olympic_hosts', 'olympic_athletes', 'olympic_results'])

        olympic_hosts = Table('olympic_hosts', metadata, autoload_with=connection)
        olympic_athletes = Table('olympic_athletes', metadata, autoload_with=connection)
        olympic_results = Table('olympic_results', metadata, autoload_with=connection)

        Session = sessionmaker(bind=connection)
        session = Session()

        list_hosts = []
        list_athletes = []
        list_results = []

        for row in session.query(olympic_hosts).all():
            list_hosts.append(row)

        df_hosts = pd.DataFrame(list_hosts)

        for row in session.query(olympic_athletes).all():
            list_athletes.append(row)

        df_athletes = pd.DataFrame(list_athletes)

        for row in session.query(olympic_results).all():
            list_results.append(row)

        df_results = pd.DataFrame(list_results)

        session.close()

except Exception as e:
    print("Erreur:", e)
finally:
    if connection:
        connection.dispose()

In [59]:
df_hosts.drop(columns=['index'], inplace=True)
df_athletes.drop(columns=['index'], inplace=True)
df_results.drop(columns=['index'], inplace=True)

In [60]:
df_hosts

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014
5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
6,vancouver-2010,2010-02-28T04:00:00Z,2010-02-12T16:00:00Z,Canada,Vancouver 2010,Winter,2010
7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
8,turin-2006,2006-02-26T19:00:00Z,2006-02-10T07:00:00Z,Italy,Turin 2006,Winter,2006
9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004
10,salt-lake-city-2002,2002-02-24T08:00:00Z,2002-02-08T15:00:00Z,United States,Salt Lake City 2002,Winter,2002
11,sydney-2000,2000-10-01T09:00:00Z,2000-09-15T01:00:00Z,Australia,Sydney 2000,Summer,2000
12,nagano-1998,1998-02-22T11:00:00Z,1998-02-06T23:00:00Z,Japan,Nagano 1998,Winter,1998
13,atlanta-1996,1996-08-05T21:00:00Z,1996-07-19T12:00:00Z,United States,Atlanta 1996,Summer,1996
14,lillehammer-1994,1994-02-27T19:00:00Z,1994-02-12T07:00:00Z,Norway,Lillehammer 1994,Winter,1994
15,barcelona-1992,1992-08-09T18:00:00Z,1992-07-25T06:00:00Z,Spain,Barcelona 1992,Summer,1992
16,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
17,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988
18,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988
19,los-angeles-1984,1984-08-12T19:00:00Z,1984-07-28T15:00:00Z,United States,Los Angeles 1984,Summer,1984
20,sarajevo-1984,1984-02-19T19:00:00Z,1984-02-08T07:00:00Z,Yugoslavia,Sarajevo 1984,Winter,1984
21,moscow-1980,1980-08-03T18:00:00Z,1980-07-19T05:00:00Z,USSR,Moscow 1980,Summer,1980
22,lake-placid-1980,1980-02-24T01:00:00Z,1980-02-13T13:00:00Z,United States,Lake Placid 1980,Winter,1980
23,montreal-1976,1976-07-31T22:00:00Z,1976-07-17T12:00:00Z,Canada,Montreal 1976,Summer,1976
24,innsbruck-1976,1976-02-15T19:00:00Z,1976-02-04T07:00:00Z,Austria,Innsbruck 1976,Winter,1976
25,munich-1972,1972-09-11T19:00:00Z,1972-08-26T07:00:00Z,Federal Republic of Germany,Munich 1972,Summer,1972
26,sapporo-1972,1972-02-13T11:00:00Z,1972-02-02T23:00:00Z,Japan,Sapporo 1972,Winter,1972
27,mexico-city-1968,1968-10-28T04:00:00Z,1968-10-12T16:00:00Z,Mexico,Mexico City 1968,Summer,1968
28,grenoble-1968,1968-02-18T19:00:00Z,1968-02-06T07:00:00Z,France,Grenoble 1968,Winter,1968
29,tokyo-1964,1964-10-24T11:00:00Z,1964-10-09T23:00:00Z,Japan,Tokyo 1964,Summer,1964
30,innsbruck-1964,1964-02-09T19:00:00Z,1964-01-29T07:00:00Z,Austria,Innsbruck 1964,Winter,1964
31,rome-1960,1960-09-11T19:00:00Z,1960-08-25T07:00:00Z,Italy,Rome 1960,Summer,1960
32,squaw-valley-1960,1960-02-28T04:00:00Z,1960-02-18T16:00:00Z,United States,Squaw Valley 1960,Winter,1960
33,melbourne-1956,1956-12-08T10:00:00Z,1956-11-21T22:00:00Z,"Australia, Sweden",Melbourne 1956,Summer,1956
34,cortina-d-ampezzo-1956,1956-02-05T19:00:00Z,1956-01-26T07:00:00Z,Italy,Cortina d'Ampezzo 1956,Winter,1956
35,helsinki-1952,1952-08-03T07:00:00Z,1952-07-19T07:00:00Z,Finland,Helsinki 1952,Summer,1952
36,oslo-1952,1952-02-25T19:00:00Z,1952-02-14T07:00:00Z,Norway,Oslo 1952,Winter,1952
37,london-1948,1948-08-14T19:00:00Z,1948-07-29T07:00:00Z,Great Britain,London 1948,Summer,1948
38,st-moritz-1948,1948-02-08T19:00:00Z,1948-01-30T07:00:00Z,Switzerland,St. Moritz 1948,Winter,1948
39,berlin-1936,1936-08-16T19:00:00Z,1936-08-01T07:00:00Z,Germany,Berlin 1936,Summer,1936
40,garmisch-partenkirchen-1936,1936-02-16T20:00:00Z,1936-02-06T08:00:00Z,Germany,Garmisch-Partenkirchen 1936,Winter,1936
41,los-angeles-1932,1932-08-14T19:00:00Z,1932-07-30T16:00:00Z,United States,Los Angeles 1932,Summer,1932
42,lake-placid-1932,1932-02-15T18:00:00Z,1932-02-04T13:00:00Z,United States,Lake Placid 1932,Winter,1932
43,amsterdam-1928,1928-08-12T19:00:00Z,1928-05-17T07:00:00Z,Netherlands,Amsterdam 1928,Summer,1928
44,st-moritz-1928,1928-02-19T08:00:00Z,1928-02-11T08:00:00Z,Switzerland,St. Moritz 1928,Winter,1928
45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
46,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
47,antwerp-1920,1920-09-12T19:00:00Z,1920-04-20T07:00:00Z,Belgium,Antwerp 1920,Summer,1920
48,stockholm-1912,1912-07-27T20:00:00Z,1912-05-05T08:00:00Z,Sweden,Stockholm 1912,Summer,1912
49,london-1908,1908-10-31T20:09:00Z,1908-04-27T08:00:00Z,Great Britain,London 1908,Summer,1908
50,st-louis-1904,1904-11-24T02:00:00Z,1904-07-01T14:00:00Z,United States,St. Louis 1904,Summer,1904
51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900
52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

In [61]:
df_athletes

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,bio,gold_medals,silver_medals,bronze_medals
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0000000000,None,0,0,0
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0000000000,None,0,0,0
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0000000000,None,0,0,0
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0000000000,None,0,0,0
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0000000000,None,0,0,0
...,...,...,...,...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas WEIGLE,1,Innsbruck 1976,1955.0000000000,\n\n\nKent Weigle competed in ice dancing with...,0,0,0
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania BERTELE,1,Innsbruck 1976,1957.0000000000,\n\n\nStefania Bertele had the following place...,0,0,0
75901,https://olympics.com/en/athletes/walter-cecconi,Walter CECCONI,1,Innsbruck 1976,1957.0000000000,\n\n\nWalter Cecconi had the following placeme...,0,0,0
75902,https://olympics.com/en/athletes/susan-kelley,Susan KELLEY,1,Innsbruck 1976,1954.0000000000,\n\n\nSusie Kelley competed in ice dancing wit...,0,0,0
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew STROUKOFF,1,Innsbruck 1976,1960.0000000000,\n\n\nAndrew Stroukoff competed in ice dancing...,0,0,0

In [62]:
df_results

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_3_letter_code,athlete_full_name
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",0.0,1,Italy,ITA,None
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",0.0,2,Norway,NOR,None
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",0.0,3,Sweden,SWE,None
3,Curling,Mixed Doubles,beijing-2022,GameTeam,None,"[('Jennifer DODDS', 'https://olympics.com/en/a...",0.0,4,Great Britain,GBR,None
4,Curling,Mixed Doubles,beijing-2022,GameTeam,None,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",0.0,5,Canada,CAN,None
...,...,...,...,...,...,...,...,...,...,...,...
158921,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,None,None,NaN,DNS,Poland,POL,Franciszek BUJAK
158922,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,None,None,NaN,DNS,Poland,POL,Henryk Mückenbrunn
158923,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,None,None,NaN,DNS,Czechoslovakia,TCH,Milda Prokopec
158924,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,None,None,NaN,DNS,United States of America,USA,Sigurd Overby
158925,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,None,None,NaN,1,France,FRA,None

In [63]:
df_hosts = df_hosts[df_hosts['game_season'] == 'Summer'] 
df_hosts

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004
11,sydney-2000,2000-10-01T09:00:00Z,2000-09-15T01:00:00Z,Australia,Sydney 2000,Summer,2000
13,atlanta-1996,1996-08-05T21:00:00Z,1996-07-19T12:00:00Z,United States,Atlanta 1996,Summer,1996
15,barcelona-1992,1992-08-09T18:00:00Z,1992-07-25T06:00:00Z,Spain,Barcelona 1992,Summer,1992
17,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988
19,los-angeles-1984,1984-08-12T19:00:00Z,1984-07-28T15:00:00Z,United States,Los Angeles 1984,Summer,1984
21,moscow-1980,1980-08-03T18:00:00Z,1980-07-19T05:00:00Z,USSR,Moscow 1980,Summer,1980
23,montreal-1976,1976-07-31T22:00:00Z,1976-07-17T12:00:00Z,Canada,Montreal 1976,Summer,1976
25,munich-1972,1972-09-11T19:00:00Z,1972-08-26T07:00:00Z,Federal Republic of Germany,Munich 1972,Summer,1972
27,mexico-city-1968,1968-10-28T04:00:00Z,1968-10-12T16:00:00Z,Mexico,Mexico City 1968,Summer,1968
29,tokyo-1964,1964-10-24T11:00:00Z,1964-10-09T23:00:00Z,Japan,Tokyo 1964,Summer,1964
31,rome-1960,1960-09-11T19:00:00Z,1960-08-25T07:00:00Z,Italy,Rome 1960,Summer,1960
33,melbourne-1956,1956-12-08T10:00:00Z,1956-11-21T22:00:00Z,"Australia, Sweden",Melbourne 1956,Summer,1956
35,helsinki-1952,1952-08-03T07:00:00Z,1952-07-19T07:00:00Z,Finland,Helsinki 1952,Summer,1952
37,london-1948,1948-08-14T19:00:00Z,1948-07-29T07:00:00Z,Great Britain,London 1948,Summer,1948
39,berlin-1936,1936-08-16T19:00:00Z,1936-08-01T07:00:00Z,Germany,Berlin 1936,Summer,1936
41,los-angeles-1932,1932-08-14T19:00:00Z,1932-07-30T16:00:00Z,United States,Los Angeles 1932,Summer,1932
43,amsterdam-1928,1928-08-12T19:00:00Z,1928-05-17T07:00:00Z,Netherlands,Amsterdam 1928,Summer,1928
45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
47,antwerp-1920,1920-09-12T19:00:00Z,1920-04-20T07:00:00Z,Belgium,Antwerp 1920,Summer,1920
48,stockholm-1912,1912-07-27T20:00:00Z,1912-05-05T08:00:00Z,Sweden,Stockholm 1912,Summer,1912
49,london-1908,1908-10-31T20:09:00Z,1908-04-27T08:00:00Z,Great Britain,London 1908,Summer,1908
50,st-louis-1904,1904-11-24T02:00:00Z,1904-07-01T14:00:00Z,United States,St. Louis 1904,Summer,1904
51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900
52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

In [64]:
df_merged = pd.merge(df_hosts, df_results, left_on='game_slug', right_on='slug_game', how='inner')
df_merged = df_merged[df_merged["participant_type"] == 'Athlete']
df_merged.drop(columns=['slug_game', 'participant_type', 'game_season'], inplace=True)
df_merged

,game_slug,game_end_date,game_start_date,game_location,game_name,game_year,discipline_title,event_title,medal_type,athletes,rank_equal,rank_position,country_name,country_3_letter_code,athlete_full_name
16,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,None,None,0.0,19,People's Republic of China,CHN,Dongqi CHEN
17,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,None,None,0.0,5,United States of America,USA,Sagen MADDALENA
18,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,None,None,0.0,17,Belarus,BLR,Maria MARTYNOVA
19,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,BRONZE,None,0.0,3,ROC,ROC,Yulia KARIMOVA
20,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,None,None,0.0,18,Islamic Republic of Iran,IRI,Najmeh KHEDMATI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114519,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Weightlifting,heavyweight - two hand lift men,SILVER,None,NaN,2,Great Britain,GBR,Launceston ELLIOT
114520,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Weightlifting,heavyweight - two hand lift men,BRONZE,None,NaN,3,Greece,GRE,Sotirios VERSIS
114521,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Weightlifting,heavyweight - two hand lift men,None,None,1.0,4,Greece,GRE,Georgios PAPASIDERIS
114522,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Weightlifting,heavyweight - two hand lift men,None,None,1.0,4,Germany,GER,Carl SCHUHMANN
114523,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Weightlifting,heavyweight - two hand lift men,None,None,NaN,6,Hungary,HUN,Momcsillo TAPAVICZA

In [65]:
df_merged["athlete_full_name"] = df_merged["athlete_full_name"].str.lower()
df_athletes["athlete_full_name"] = df_athletes["athlete_full_name"].str.lower()

df_merged = pd.merge(df_merged, df_athletes, left_on='athlete_full_name', right_on='athlete_full_name', how='inner')

In [66]:
df_merged

,game_slug,game_end_date,game_start_date,game_location,game_name,game_year,discipline_title,event_title,medal_type,athletes,...,country_3_letter_code,athlete_full_name,athlete_url,games_participations,first_game,athlete_year_birth,bio,gold_medals,silver_medals,bronze_medals
0,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,None,None,...,CHN,dongqi chen,https://olympics.com/en/athletes/dongqi-chen,1,Tokyo 2020,1988.0000000000,None,0,0,0
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,None,None,...,USA,sagen maddalena,https://olympics.com/en/athletes/sagen-maddalena,1,Tokyo 2020,1993.0000000000,None,0,0,0
2,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,None,None,...,BLR,maria martynova,https://olympics.com/en/athletes/maria-martynova,1,Tokyo 2020,1997.0000000000,None,0,0,0
3,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,10m Air Rifle women,None,None,...,BLR,maria martynova,https://olympics.com/en/athletes/maria-martynova,1,Tokyo 2020,1997.0000000000,None,0,0,0
4,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,2020,Shooting,50m Rifle 3 Positions women,BRONZE,None,...,ROC,yulia karimova,https://olympics.com/en/athletes/yulia-karimova,1,Tokyo 2020,1994.0000000000,None,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89968,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Tennis,Singles men,GOLD,None,...,GBR,john boland,https://olympics.com/en/athletes/john-boland,1,Athens 1896,1870.0000000000,\n\n\nJohn Boland was an Oxford student who en...,2,0,0
89969,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Tennis,Singles men,BRONZE,None,...,GRE,konstantinos paspatis,https://olympics.com/en/athletes/konstantinos-...,1,Athens 1896,None,\n\n\nKonstantinos Paspatis played singles and...,0,0,1
89970,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Tennis,Singles men,None,None,...,GRE,evangelos rallis,https://olympics.com/en/athletes/evangelos-rallis,1,Athens 1896,None,\n\n\nEvangelos Rallis competed in tennis at t...,0,0,0
89971,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Tennis,Singles men,None,None,...,GRE,dimitrios petrokokkinos,https://olympics.com/en/athletes/dimitrios-pet...,1,Athens 1896,None,\n\n\nDimitrios Petrokokkinos played singles a...,0,1,0
89972,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,1896,Wrestling,"Unlimited Class, Greco-Roman Men",SILVER,None,...,GRE,georgios tsitas,https://olympics.com/en/athletes/georgios-tsitas,1,Athens 1896,1871.0000000000,\n\n\nDied between 1940 and 1945.\n\n\n\n\n\n,0,1,0

In [67]:
df_merged.drop(columns=['athletes', 'event_title', 'game_name', 'bio','country_3_letter_code', 'athlete_url', 'first_game',], inplace=True)
df_merged.columns

Index(['game_slug', 'game_end_date', 'game_start_date', 'game_location',
       'game_year', 'discipline_title', 'medal_type', 'rank_equal',
       'rank_position', 'country_name', 'athlete_full_name',
       'games_participations', 'athlete_year_birth', 'gold_medals',
       'silver_medals', 'bronze_medals'],
      dtype='object')

In [68]:
df_merged

,game_slug,game_end_date,game_start_date,game_location,game_year,discipline_title,medal_type,rank_equal,rank_position,country_name,athlete_full_name,games_participations,athlete_year_birth,gold_medals,silver_medals,bronze_medals
0,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,2020,Shooting,None,0.0,19,People's Republic of China,dongqi chen,1,1988.0000000000,0,0,0
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,2020,Shooting,None,0.0,5,United States of America,sagen maddalena,1,1993.0000000000,0,0,0
2,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,2020,Shooting,None,0.0,17,Belarus,maria martynova,1,1997.0000000000,0,0,0
3,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,2020,Shooting,None,0.0,24,Belarus,maria martynova,1,1997.0000000000,0,0,0
4,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,2020,Shooting,BRONZE,0.0,3,ROC,yulia karimova,1,1994.0000000000,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89968,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,1896,Tennis,GOLD,NaN,1,Great Britain,john boland,1,1870.0000000000,2,0,0
89969,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,1896,Tennis,BRONZE,1.0,3,Greece,konstantinos paspatis,1,None,0,0,1
89970,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,1896,Tennis,None,1.0,5,Greece,evangelos rallis,1,None,0,0,0
89971,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,1896,Tennis,None,1.0,8,Greece,dimitrios petrokokkinos,1,None,0,1,0
89972,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,1896,Wrestling,SILVER,NaN,2,Greece,georgios tsitas,1,1871.0000000000,0,1,0

In [91]:
# Remplacer les valeurs non numériques dans 'rank_position' par des codes numériques spécifiques
# DNS : DID NOT START
# DNF : DID NOT FINISH
# PEN : PENALTY
# WDR : WITHDRAWN
# LAP : Rattrapée par la 1ère
# YCD : Yellow Card
# DSQ : DISQUALIFIED
special_values = {'DNS': -1, 'DNF': -2, 'PEN': -3, 'WDR': -4, 'LAP': -7, 'YCD': -5, 'DSQ': -6, 'DQB': -8}  # Par exemple
df_merged['rank_position'] = df_merged['rank_position'].replace(special_values).astype(float)

df_merged = df_merged[df_merged['rank_position'] > 0]

df_merged.replace([np.inf, -np.inf], np.nan, inplace=True)
df_merged.dropna(inplace=True)

categorical_columns = ['game_slug', 'game_location', 'discipline_title', 'country_name', 'athlete_full_name', 'medal_type']
label_encoders = {col: LabelEncoder().fit(df_merged[col]) for col in categorical_columns}

for col, le in label_encoders.items():
    df_merged[col] = le.transform(df_merged[col])

target_encoder = LabelEncoder().fit(df_merged['country_name'])
df_merged['country_code'] = target_encoder.transform(df_merged['country_name'])

features = ['game_year', 'game_slug', 'game_location', 'discipline_title', 'athlete_year_birth', 
            'games_participations', 'gold_medals', 'silver_medals', 'bronze_medals']
target = 'country_code'

X = df_merged[features].values
y = df_merged[target].values

scaler = StandardScaler()
X = scaler.fit_transform(X)

if np.any(np.isnan(X)) or np.any(np.isinf(X)):
    raise ValueError("Les données contiennent des valeurs NaN ou infinies après normalisation")

X

array([[ 1.01573921e+00,  1.25869376e+00,  3.56748417e-01, ...,
        -2.13778081e-01, -2.64831567e-01, -3.44173603e-01],
       [ 1.01573921e+00,  1.25869376e+00,  3.56748417e-01, ...,
        -2.13778081e-01, -2.64831567e-01, -3.44173603e-01],
       [ 1.01573921e+00,  1.25869376e+00,  3.56748417e-01, ...,
        -2.13778081e-01, -2.64831567e-01, -3.44173603e-01],
       ...,
       [-3.33462545e+00, -1.53591236e+00,  4.60387825e-03, ...,
         7.13018259e+00, -2.64831567e-01, -3.44173603e-01],
       [-3.33462545e+00, -1.53591236e+00,  4.60387825e-03, ...,
         1.62221209e+00,  2.06464148e+00,  1.71886041e+00],
       [-3.33462545e+00, -1.53591236e+00,  4.60387825e-03, ...,
         1.62221209e+00, -2.64831567e-01, -3.44173603e-01]])

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train = np.expand_dims(X_train, axis=1)
X_test = np.expand_dims(X_test, axis=1)

def transformer_model(input_shape, num_classes):
    inputs = tf.keras.Input(shape=input_shape)
    x = tf.keras.layers.LayerNormalization(epsilon=1e-6)(inputs)

    attention_output = tf.keras.layers.MultiHeadAttention(
        num_heads=16, key_dim=2)(x, x)
    attention_output = tf.keras.layers.Dropout(0.1)(attention_output)
    add_attention = tf.keras.layers.Add()([x, attention_output])
    x = tf.keras.layers.LayerNormalization(epsilon=1e-6)(add_attention)

    x = tf.keras.layers.Dense(64, activation='relu')(x)
    x = tf.keras.layers.Dropout(0.1)(x)
    x = tf.keras.layers.Flatten()(x)
    outputs = tf.keras.layers.Dense(num_classes, activation='softmax')(x)
    
    return tf.keras.Model(inputs=inputs, outputs=outputs)

num_classes = len(target_encoder.classes_)

model = transformer_model((1, X_train.shape[2]), num_classes)
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.0338 - loss: 4.7810 - val_accuracy: 0.0492 - val_loss: 4.2841
Epoch 2/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0505 - loss: 4.2586 - val_accuracy: 0.0561 - val_loss: 4.2447
Epoch 3/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0585 - loss: 4.2005 - val_accuracy: 0.0571 - val_loss: 4.2226
Epoch 4/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0570 - loss: 4.1753 - val_accuracy: 0.0582 - val_loss: 4.2070
Epoch 5/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0600 - loss: 4.1612 - val_accuracy: 0.0592 - val_loss: 4.1976
Epoch 6/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0554 - loss: 4.1484 - val_accuracy: 0.0595 - val_loss: 4.1902
Epoch 7/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0591 - loss: 4.1169 - val_accuracy: 0.0621 - val_loss: 4.1815
Epoch 8/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0588 - loss: 4.0913 - val_accuracy: 0.0637 - val_loss: 4.1739
Epoch 9/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0610 - loss: 4.0941 - val_accuracy: 0.0645 - val_loss: 4.1725
Epoch 10/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0620 - loss: 4.0617 - val_accuracy: 0.0661 - val_loss: 4.1672
Epoch 11/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0589 - loss: 4.0565 - val_accuracy: 0.0611 - val_loss: 4.1675
Epoch 12/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0639 - loss: 4.0502 - val_accuracy: 0.0658 - val_loss: 4.1626
Epoch 13/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0641 - loss: 4.0270 - val_accuracy: 0.0632 - val_loss: 4.1593
Epoch 14/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0689 - loss: 4.0346 - val_accuracy: 0.0648 - val_loss: 4.1610
Epoch 15/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0702 - loss: 4.0191 - val_accuracy: 0.0661 - val_loss: 4.1590
Epoch 16/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0678 - loss: 4.0095 - val_accuracy: 0.0677 - val_loss: 4.1644
Epoch 17/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0725 - loss: 3.9903 - val_accuracy: 0.0690 - val_loss: 4.1597
Epoch 18/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0684 - loss: 4.0082 - val_accuracy: 0.0687 - val_loss: 4.1650
Epoch 19/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0694 - loss: 3.9846 - val_accuracy: 0.0680 - val_loss: 4.1641
Epoch 20/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0727 - loss: 3.9791 - val_accuracy: 0.0666 - val_loss: 4.1666
Epoch 21/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0668 - loss: 3.9819 - val_accuracy: 0.0664 - val_loss: 4.1694
Epoch 22/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0749 - loss: 3.9589 - val_accuracy: 0.0650 - val_loss: 4.1657
Epoch 23/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0700 - loss: 3.9766 - val_accuracy: 0.0687 - val_loss: 4.1707
Epoch 24/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0761 - loss: 3.9352 - val_accuracy: 0.0680 - val_loss: 4.1709
Epoch 25/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0725 - loss: 3.9633 - val_accuracy: 0.0690 - val_loss: 4.1728
Epoch 26/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0728 - loss: 3.9505 - val_accuracy: 0.0730 - val_loss: 4.1790
Epoch 27/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0696 - loss: 3.9576 - val_accuracy: 0.0730 - val_loss: 4.1801
Epoch 28/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0746 - loss: 3.9631 - val_accuracy: 0.0661 - val_loss: 4.1845
Epoch 29/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0747 - loss: 3.9425 - val_accuracy: 0.0740 - val_loss: 4.1857
Epoch 30/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0781 - loss: 3.9377 - val_accuracy: 0.0709 - val_loss: 4.1923
Epoch 31/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0763 - loss: 3.9268 - val_accuracy: 0.0732 - val_loss: 4.1936
Epoch 32/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0775 - loss: 3.9138 - val_accuracy: 0.0677 - val_loss: 4.1955
Epoch 33/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0703 - loss: 3.9233 - val_accuracy: 0.0690 - val_loss: 4.2014
Epoch 34/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0770 - loss: 3.9180 - val_accuracy: 0.0695 - val_loss: 4.2031
Epoch 35/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0769 - loss: 3.9048 - val_accuracy: 0.0714 - val_loss: 4.2052
Epoch 36/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0760 - loss: 3.9185 - val_accuracy: 0.0693 - val_loss: 4.2122
Epoch 37/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0814 - loss: 3.9088 - val_accuracy: 0.0680 - val_loss: 4.2172
Epoch 38/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0789 - loss: 3.8981 - val_accuracy: 0.0719 - val_loss: 4.2244
Epoch 39/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0780 - loss: 3.8995 - val_accuracy: 0.0743 - val_loss: 4.2136
Epoch 40/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0778 - loss: 3.8918 - val_accuracy: 0.0730 - val_loss: 4.2194
Epoch 41/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0739 - loss: 3.9184 - val_accuracy: 0.0738 - val_loss: 4.2283
Epoch 42/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0783 - loss: 3.9055 - val_accuracy: 0.0703 - val_loss: 4.2250
Epoch 43/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0779 - loss: 3.8985 - val_accuracy: 0.0682 - val_loss: 4.2222
Epoch 44/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0766 - loss: 3.8954 - val_accuracy: 0.0682 - val_loss: 4.2380
Epoch 45/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0818 - loss: 3.8938 - val_accuracy: 0.0680 - val_loss: 4.2426
Epoch 46/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0835 - loss: 3.8904 - val_accuracy: 0.0695 - val_loss: 4.2397
Epoch 47/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0792 - loss: 3.8876 - val_accuracy: 0.0703 - val_loss: 4.2470
Epoch 48/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0795 - loss: 3.8791 - val_accuracy: 0.0724 - val_loss: 4.2399
Epoch 49/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0797 - loss: 3.8717 - val_accuracy: 0.0732 - val_loss: 4.2531
Epoch 50/50
473/473 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.0807 - loss: 3.8863 - val_accuracy: 0.0706 - val_loss: 4.2492

In [94]:
y_pred_proba = model.predict(X_test)
y_pred = np.argsort(y_pred_proba, axis=1)[:, -3:]  # Récupérer les 3 meilleures prédictions pour chaque échantillon

y_test_decoded = target_encoder.inverse_transform(y_test)
y_pred_decoded = np.array([target_encoder.inverse_transform(pred) for pred in y_pred])

results = []
for i in range(len(y_test_decoded)):
    results.append({
        'Épreuve': i,
        'Vainqueur': y_test_decoded[i],
        'Prévisions (Top 3)': ', '.join(y_pred_decoded[i])
    })

results_df = pd.DataFrame(results)

print(results_df.head(10))

148/148 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

TypeError: sequence item 0: expected str instance, numpy.int64 found