In [23]:
import pandas as pd

In [17]:
pib_file="API_NY.GDP.MKTP.CD_DS2_fr_csv_v2_569289.csv"
df_pib=pd.read_csv(pib_file,delimiter=",")

In [18]:
df_pib.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,PIB ($ US courants),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN,NaN
1,NaN,AFE,PIB ($ US courants),NY.GDP.MKTP.CD,1.847810e+10,1.936631e+10,2.050647e+10,2.224273e+10,2.429433e+10,2.661956e+10,...,9.325135e+11,8.900514e+11,1.028394e+12,1.012521e+12,1.006191e+12,9.288802e+11,1.086531e+12,1.185138e+12,NaN,NaN
2,Afghanistan,AFG,PIB ($ US courants),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN,NaN,NaN
3,NaN,AFW,PIB ($ US courants),NY.GDP.MKTP.CD,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,...,7.692632e+11,6.921149e+11,6.856303e+11,7.681582e+11,8.234056e+11,7.869624e+11,8.449275e+11,8.753937e+11,NaN,NaN
4,Angola,AGO,PIB ($ US courants),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.067828e+11,NaN,NaN

In [19]:
column_means = df_pib.mean(numeric_only=True)
df_no_nan = df_pib.fillna(column_means)

In [20]:
df_no_nan.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,PIB ($ US courants),NY.GDP.MKTP.CD,7.295928e+10,7.486737e+10,7.867032e+10,8.518799e+10,9.405189e+10,9.430350e+10,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN,NaN
1,NaN,AFE,PIB ($ US courants),NY.GDP.MKTP.CD,1.847810e+10,1.936631e+10,2.050647e+10,2.224273e+10,2.429433e+10,2.661956e+10,...,9.325135e+11,8.900514e+11,1.028394e+12,1.012521e+12,1.006191e+12,9.288802e+11,1.086531e+12,1.185138e+12,NaN,NaN
2,Afghanistan,AFG,PIB ($ US courants),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,3.478231e+12,NaN,NaN
3,NaN,AFW,PIB ($ US courants),NY.GDP.MKTP.CD,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,...,7.692632e+11,6.921149e+11,6.856303e+11,7.681582e+11,8.234056e+11,7.869624e+11,8.449275e+11,8.753937e+11,NaN,NaN
4,Angola,AGO,PIB ($ US courants),NY.GDP.MKTP.CD,7.295928e+10,7.486737e+10,7.867032e+10,8.518799e+10,9.405189e+10,9.430350e+10,...,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.067828e+11,NaN,NaN

In [21]:
nan_row = df_no_nan[df_no_nan['Country Name'].isna()]
nan_row

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
1,NaN,AFE,PIB ($ US courants),NY.GDP.MKTP.CD,1.847810e+10,1.936631e+10,2.050647e+10,2.224273e+10,2.429433e+10,2.661956e+10,...,9.325135e+11,8.900514e+11,1.028394e+12,1.012521e+12,1.006191e+12,9.288802e+11,1.086531e+12,1.185138e+12,NaN,NaN
3,NaN,AFW,PIB ($ US courants),NY.GDP.MKTP.CD,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,...,7.692632e+11,6.921149e+11,6.856303e+11,7.681582e+11,8.234056e+11,7.869624e+11,8.449275e+11,8.753937e+11,NaN,NaN

In [22]:
data_cleaned = df_no_nan.dropna(subset=['Country Name'])
data_cleaned = data_cleaned.drop(columns=["2023","Unnamed: 68"])
data_cleaned.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,PIB ($ US courants),NY.GDP.MKTP.CD,7.295928e+10,7.486737e+10,7.867032e+10,8.518799e+10,9.405189e+10,9.430350e+10,...,2.727850e+09,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09
2,Afghanistan,AFG,PIB ($ US courants),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.014642e+10,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,3.478231e+12
4,Angola,AGO,PIB ($ US courants),NY.GDP.MKTP.CD,7.295928e+10,7.486737e+10,7.867032e+10,8.518799e+10,9.405189e+10,9.430350e+10,...,1.323391e+11,1.359668e+11,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.067828e+11
5,Albanie,ALB,PIB ($ US courants),NY.GDP.MKTP.CD,7.295928e+10,7.486737e+10,7.867032e+10,8.518799e+10,9.405189e+10,9.430350e+10,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10
6,Andorre,AND,PIB ($ US courants),NY.GDP.MKTP.CD,7.295928e+10,7.486737e+10,7.867032e+10,8.518799e+10,9.405189e+10,9.430350e+10,...,3.193513e+09,3.271686e+09,2.789883e+09,2.896612e+09,3.000160e+09,3.218419e+09,3.155150e+09,2.891002e+09,3.325144e+09,3.352031e+09

In [24]:
from sqlalchemy.orm import Session, sessionmaker
from sqlalchemy import Table, create_engine, MetaData
import sshtunnel
from dotenv import load_dotenv
import os

In [29]:
load_dotenv()

sshtunnel.SSH_TIMEOUT = 10
sshtunnel.TUNNEL_TIMEOUT = 10

try:
    with sshtunnel.SSHTunnelForwarder(
        (os.getenv('SSH_HOST')),
        ssh_username=os.getenv('SSH_USERNAME'), ssh_password=os.getenv('SSH_PASSWORD'),
        remote_bind_address=(os.getenv('DB_HOST'), 3306)
    ) as tunnel:
        connection = create_engine(
            f"mysql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@127.0.0.1:{tunnel.local_bind_port}/{os.getenv('DB_NAME')}"
        )

        metadata = MetaData()
        metadata.reflect(bind=connection, only=['olympic_hosts'])
 
        olympic_res = Table('olympic_medals', metadata, autoload_with=connection)
        
        Session = sessionmaker(bind=connection)
        session = Session()
        
        query = session.query(olympic_res)
        df = pd.read_sql(query.statement, connection)

        print(df.head())
        
        session.close()
        

except Exception as e:
    print("Erreur:", e)

   index discipline_title     slug_game    event_title event_gender  \
0      0          Curling  beijing-2022  Mixed Doubles        Mixed
1      1          Curling  beijing-2022  Mixed Doubles        Mixed
2      2          Curling  beijing-2022  Mixed Doubles        Mixed
3      3          Curling  beijing-2022  Mixed Doubles        Mixed
4      4          Curling  beijing-2022  Mixed Doubles        Mixed

  medal_type participant_type     athlete_full_name country_name  \
0       GOLD         GameTeam  Stefania CONSTANTINI        Italy
1       GOLD         GameTeam          Amos MOSANER        Italy
2     SILVER         GameTeam      Kristin SKASLIEN       Norway
3     SILVER         GameTeam    Magnus NEDREGOTTEN       Norway
4     BRONZE         GameTeam         Almida DE VAL       Sweden

  country_3_letter_code
0                   ITA
1                   ITA
2                   NOR
3                   NOR
4                   SWE

In [31]:
medal_counts = df.groupby(['country_name', 'slug_game', 'medal_type']).size().unstack(fill_value=0)

# Reset the index to turn 'country_name' and 'slug_game' into columns
medal_counts.reset_index(inplace=True)

# Display the DataFrame
print(medal_counts)

medal_type country_name         slug_game  BRONZE  GOLD  SILVER
0           Afghanistan      beijing-2008       1     0       0
1           Afghanistan       london-2012       1     0       0
2               Algeria      atlanta-1996       1     2       0
3               Algeria    barcelona-1992       1     1       0
4               Algeria      beijing-2008       1     0       1
...                 ...               ...     ...   ...     ...
1774             Zambia      atlanta-1996       0     0       1
1775             Zambia  los-angeles-1984       1     0       0
1776           Zimbabwe       athens-2004       1     1       1
1777           Zimbabwe      beijing-2008       0     1       3
1778           Zimbabwe       moscow-1980       0     1       0

[1779 rows x 5 columns]

Prédictions du nombre de médailles en time series grâce au PIB par année